/* Makes our label white. */
.blocklyTreeLabel {
  color: rgb(255, 255, 255);
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: .8em;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  padding: 10px;
  margin-bottom: .7em;
  border-radius: 4px;
}

/* Changes color of the icon to white. */
.customIcon {
  color: rgb(255, 255, 255);

}

/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
}

.blocklyTreeRow {
  height: initial;
}